@charset "UTF-8";

table{
	width: 900px;
	border-bottom: 1px solid gray;
	border-collapse: collapse;
}

tr, td{
	border-bottom: 1px solid gray;
	padding: 10px;
}

tr:nth-child(odd) {
	background: #abcdef;
}
tr:nth-child(1) {
	background: #fedcba;
}
tr :hover{
	background: #eeeeee;
}

table input[type="number"]{
	 width: 30%;
	 text-align: center;
	 border-radius: 5px;
}
table input[type="button"]{
	 width: 50%;
	 text-align: center;
	 border-radius: 5px;
	 
}