<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 쿼리문은 해당 Mapper파일에서 모두 작성한다. -->
<!-- Mapper 파일은 여러개일 수 있기 때문에 각 Mapper파일을 구별할 수 있도록 -->
<!-- 이름을 준다. 이름을 주는 방법이 mapper의 namespace속성에 값을 주는 것이다. -->
<mapper namespace="boardMapper">
	<!-- ResultMap은 디비에서의 실행결과를 자바에서 사용할 수 있도록 -->
	<!-- DTO Object와 연결하는 것이다. -->
	<resultMap type="vo.BoardVO" id="board">
		<result column="B_NUM" 			property="bNum"/>
		<result column="B_TITLE" 		property="bTitle"/>
		<result column="B_CONTENT" 		property="bContent"/>
		<result column="B_WRITER" 		property="bWriter"/>
		<result column="B_DATE" 		property="bDate"/>
		<result column="B_FILE" 		property="bFile"/>
	</resultMap>	
	<select id="selectBoardList" resultMap="board">
		SELECT B_NUM
			, B_TITLE
			, B_WRITER
			, TO_CHAR(B_DATE, 'YYYY-MM-DD') AS B_DATE
		FROM BOARDZ ORDER BY B_NUM DESC
	</select>
	
	<insert id="insertBoard">
		INSERT INTO BOARDZ
			 	 	(B_NUM
			 		,B_TITLE
			 		,B_CONTENT
					,B_WRITER
					,B_FILE)
		VALUES ((SELECT (NVL(MAX(B_NUM)+1,1)) FROM BOARDZ)
			    ,#{bTitle}
			 	,#{bContent}
			 	,#{bWriter}
			 	,#{bFile})
	</insert>
	
	<select id="selectBoard" resultMap="board">
		SELECT   B_TITLE
				,B_CONTENT
				,B_WRITER
				,B_NUM
				,B_FILE
		FROM BOARDZ
		WHERE B_NUM = #{bNum}
	</select>
	
	<delete id="deleteBoard">
		DELETE BOARDZ
		WHERE B_NUM = #{bNum}
	</delete>
	
	<update id="updateBoard">
		UPDATE BOARDZ 
		SET B_TITLE = #{bTitle} 
		   ,B_CONTENT = #{bContent}
		   ,B_WRITER = #{bWriter}
		   ,B_FILE = #{bFile}
		WHERE B_NUM = #{bNum}
	</update>
	
</mapper>























































